<h1>Bienvenido a mi web <%= @user.firstname %></h1>

<p>
You have successfully signed up to example.com,
your username is: <%= @user.email %>.<br>
</p>
<p>
To login to the site, just follow this link: <%= @url %>.
</p>

<p>Gracias por unirte a la comunidad de Zineteca!</p>
